{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API Reference",
    "version": "0.6",
    "description": "Uploadcare features a simple yet powerful REST API to manage projects and files. REST API is the lowest level of access to Uploadcare and is implemented into every client.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "contact": {
      "name": "API Support",
      "email": "help@uploadcare.com"
    },
    "x-logo": {
      "url": "https://ucarecdn.com/06bc72fb-3a5a-4ee7-a19c-b1d02fb9e711/logorestapi.svg",
      "backgroundColor": "#fafafa",
      "altText": "Uploadcare REST API Reference"
    },
    "x-meta": {
      "title": "REST API 0.6 Reference — Uploadcare",
      "description": "Complete reference documentation for the Uploadcare REST API 0.6. Covers endpoints, requests, their params, and response examples."
    }
  },
  "servers": [
    {
      "url": "https://api.uploadcare.com",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "File"
    },
    {
      "name": "Group"
    },
    {
      "name": "Project"
    },
    {
      "name": "Webhook"
    },
    {
      "name": "Conversion"
    },
    {
      "name": "Other REST API Versions",
      "description": "You can find the complete reference documentation for the REST API 0.5 [here](/api-refs/rest-api/v0.5/).\n"
    },
    {
      "name": "Other APIs",
      "description": "You can find the complete reference documentation for the Upload API [here](/api-refs/upload-api/).\n"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/files/": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "List of files",
        "description": "Getting a paginated list of files.",
        "operationId": "filesList",
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "description": "Version header.",
              "example": "application/vnd.uploadcare-v0.6+json"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "removed",
            "description": "`true` to only include removed files in the response, `false` to include existing files. Defaults to `false`.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "false",
              "example": "true"
            }
          },
          {
            "in": "query",
            "name": "stored",
            "description": "`true` to only include files that were stored, `false` to include temporary ones. The default is unset: both stored and not stored files are returned.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "true"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "A preferred amount of files in a list for a single response. Defaults to 100, while the maximum is 1000.",
            "schema": {
              "type": "number",
              "maximum": 1000,
              "minimum": 1,
              "example": 100,
              "default": 1000
            }
          },
          {
            "in": "query",
            "name": "ordering",
            "description": "Specifies the way files are sorted in a returned list. `field_name` - ascending order, `-field_name` - descending order.",
            "schema": {
              "type": "string",
              "enum": [
                "datetime_uploaded",
                "-datetime_uploaded",
                "size",
                "-size"
              ],
              "default": "datetime_uploaded",
              "example": "-datetime_uploaded"
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "A starting point for filtering files. The value depends on your ordering parameter value.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "dateTimeUploaded": {
                "description": "If ordering=datetime_uploaded then a datetime MUST be used, YYYY-MM-DDTHH:MM:SS, where T is used as a separator.",
                "value": "2015-09-10T10:00:00"
              },
              "size": {
                "description": "If ordering=size then an integer file size MUST be used. File sizes SHOULD be set in bytes.:",
                "value": "12909"
              }
            }
          },
          {
            "in": "query",
            "name": "add_fields",
            "description": "Add special fields to the file object, such as: rekognition_info.",
            "schema": {
              "type": "string"
            },
            "example": "rekognition_info"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of files, paginated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datetime_removed": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Date and time when a file was removed, if any."
                          },
                          "datetime_stored": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Date and time of the last store request, if any."
                          },
                          "datetime_uploaded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when a file was uploaded."
                          },
                          "image_info": {
                            "type": "object",
                            "description": "Image metadata.",
                            "nullable": true,
                            "properties": {
                              "color_mode": {
                                "type": "string",
                                "description": "Image color mode.",
                                "enum": [
                                  "RGB",
                                  "RGBA",
                                  "RGBa",
                                  "RGBX",
                                  "L",
                                  "LA",
                                  "La",
                                  "P",
                                  "PA",
                                  "CMYK",
                                  "YCbCr",
                                  "HSV",
                                  "LAB"
                                ],
                                "example": "RGBA"
                              },
                              "orientation": {
                                "nullable": true,
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 8,
                                "description": "Image orientation from EXIF.",
                                "example": 6
                              },
                              "format": {
                                "type": "string",
                                "description": "Image format.",
                                "example": "JPEG"
                              },
                              "sequence": {
                                "type": "boolean",
                                "default": "Is image if sequence image(GIF for example).",
                                "example": false
                              },
                              "height": {
                                "type": "integer",
                                "description": "Image height in pixels.",
                                "example": 2352
                              },
                              "width": {
                                "type": "integer",
                                "description": "Image width in pixels.",
                                "example": 2935
                              },
                              "geo_location": {
                                "description": "Geo-location of image from EXIF.",
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "latitude": {
                                    "type": "float",
                                    "description": "Location latitude.",
                                    "example": -1.1884555555555556
                                  },
                                  "longitude": {
                                    "type": "float",
                                    "description": "Location longitude.",
                                    "example": 52.66996666666667
                                  }
                                }
                              },
                              "datetime_original": {
                                "nullable": true,
                                "type": "string",
                                "description": "Image date and time from EXIF.",
                                "format": "date-time",
                                "example": "2018-09-13T16:23:40.000Z"
                              },
                              "dpi": {
                                "nullable": true,
                                "type": "array",
                                "description": "Image DPI for two dimensions.",
                                "items": {
                                  "type": "float",
                                  "example": 72
                                },
                                "example": [
                                  72,
                                  72
                                ]
                              }
                            }
                          },
                          "is_image": {
                            "type": "boolean",
                            "description": "Is file is image.",
                            "example": true
                          },
                          "is_ready": {
                            "type": "boolean",
                            "description": "Is file is ready to be used after upload.",
                            "example": true
                          },
                          "mime_type": {
                            "type": "string",
                            "description": "File MIME-type.",
                            "example": "image/jpeg"
                          },
                          "original_file_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "Publicly available file CDN URL. Available if a file is not deleted.",
                            "nullable": true
                          },
                          "original_filename": {
                            "type": "string",
                            "description": "Original file name taken from uploaded file.",
                            "example": "EU_4.jpg"
                          },
                          "size": {
                            "type": "integer",
                            "description": "File size in bytes.",
                            "example": 145212
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "API resource URL for a particular file."
                          },
                          "uuid": {
                            "type": "string",
                            "format": "uuid",
                            "description": "File UUID.",
                            "example": "575ed4e8-f4e8-4c14-a58b-1527b6d9ee46"
                          },
                          "variations": {
                            "type": "object",
                            "nullable": true,
                            "description": "Dictionary of other files that has been created using this file as source. Used for video, document and etc. conversion."
                          },
                          "video_info": {
                            "nullable": true,
                            "type": "object",
                            "description": "Video metadata.",
                            "properties": {
                              "duration": {
                                "type": "number",
                                "description": "Video duration in milliseconds.",
                                "example": 261827
                              },
                              "format": {
                                "type": "string",
                                "description": "Video format (MP4 for example).",
                                "example": "mpeg4"
                              },
                              "bitrate": {
                                "type": "number",
                                "description": "Video bitrate.",
                                "example": 393
                              },
                              "audio": {
                                "type": "object",
                                "description": "Audio stream metadata.",
                                "nullable": true,
                                "properties": {
                                  "bitrate": {
                                    "nullable": true,
                                    "type": "number",
                                    "description": "Audio stream metadata.",
                                    "example": 78
                                  },
                                  "codec": {
                                    "nullable": true,
                                    "type": "string",
                                    "description": "Audio stream codec.",
                                    "example": "aac"
                                  },
                                  "sample_rate": {
                                    "nullable": true,
                                    "type": "number",
                                    "description": "Audio stream sample rate.",
                                    "example": 44100
                                  },
                                  "channels": {
                                    "nullable": true,
                                    "type": "string",
                                    "description": "Audio stream number of channels.",
                                    "example": 2
                                  }
                                }
                              },
                              "video": {
                                "type": "object",
                                "description": "Video stream metadata.",
                                "properties": {
                                  "height": {
                                    "type": "number",
                                    "description": "Video stream image height.",
                                    "example": 360
                                  },
                                  "width": {
                                    "type": "number",
                                    "description": "Video stream image width.",
                                    "example": 640
                                  },
                                  "frame_rate": {
                                    "type": "float",
                                    "description": "Video stream frame rate.",
                                    "example": 25
                                  },
                                  "bitrate": {
                                    "type": "number",
                                    "description": "Video stream bitrate.",
                                    "example": 315
                                  },
                                  "codec": {
                                    "type": "string",
                                    "description": "Video stream codec.",
                                    "example": "h264"
                                  }
                                }
                              }
                            }
                          },
                          "source": {
                            "type": "string",
                            "nullable": true,
                            "description": "File upload source. This field contains information about from where file was uploaded, for example: facebook, gdrive, gphotos, etc."
                          },
                          "rekognition_info": {
                            "type": "object",
                            "nullable": true,
                            "description": "Dictionary of file categories with it\"s confidence.",
                            "additionalProperties": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 1
                            }
                          }
                        },
                        "example": {
                          "datetime_removed": null,
                          "datetime_stored": "2018-11-26T12:49:10.477888Z",
                          "datetime_uploaded": "2018-11-26T12:49:09.945335Z",
                          "image_info": {
                            "color_mode": "RGB",
                            "orientation": null,
                            "format": "JPEG",
                            "sequence": false,
                            "height": 500,
                            "width": 500,
                            "geo_location": null,
                            "datetime_original": null,
                            "dpi": [
                              144,
                              144
                            ]
                          },
                          "is_image": true,
                          "is_ready": true,
                          "mime_type": "application/octet-stream",
                          "original_file_url": "https://ucarecdn.com/3c269810-c17b-4e2c-92b6-25622464d866/papaya.jpg",
                          "original_filename": "papaya.jpg",
                          "size": 642,
                          "url": "https://api.uploadcare.com/files/3c269810-c17b-4e2c-92b6-25622464d866/",
                          "uuid": "3c269810-c17b-4e2c-92b6-25622464d866",
                          "variations": null,
                          "video_info": null,
                          "source": null,
                          "rekognition_info": {
                            "Art": 0.60401,
                            "Home Decor": 0.719,
                            "Ornament": 0.60401,
                            "Shutter": 0.719,
                            "Arabesque Pattern": 0.60401,
                            "Window": 0.719,
                            "Curtain": 0.719,
                            "Brick": 0.75331,
                            "Window Shade": 0.719,
                            "Balcony": 0.70572
                          }
                        }
                      }
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "description": "Next page URL.",
                      "nullable": true,
                      "example": "https://api.uploadcare.com/files/?from=2018-11-27T01%3A00%3A24.296613%2B00%3A00&limit=3&offset=0"
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "description": "Previous page URL.",
                      "nullable": true,
                      "example": "https://api.uploadcare.com/files/?limit=3&to=2018-11-27T01%3A00%3A36.436838%2B00%3A00&offset=0"
                    },
                    "total": {
                      "type": "number",
                      "minimum": 0,
                      "description": "A total number of objects of the queried type. For files, the queried type depends on the stored and removed query parameters.",
                      "example": 26
                    },
                    "per_page": {
                      "type": "number",
                      "description": "Number of objects per page.",
                      "example": 100
                    }
                  },
                  "example": {
                    "next": "https://api.uploadcare.com/files/?limit=3&from=2018-11-27T01%3A00%3A43.001705%2B00%3A00&offset=0",
                    "previous": "https://api.uploadcare.com/files/?limit=3&to=2018-11-27T01%3A00%3A36.436838%2B00%3A00&offset=0",
                    "total": 2484,
                    "per_page": 2,
                    "results": [
                      {
                        "datetime_removed": null,
                        "datetime_stored": "2018-11-26T12:49:10.477888Z",
                        "datetime_uploaded": "2018-11-26T12:49:09.945335Z",
                        "image_info": {
                          "color_mode": "RGB",
                          "orientation": null,
                          "format": "JPEG",
                          "sequence": false,
                          "height": 500,
                          "width": 500,
                          "geo_location": null,
                          "datetime_original": null,
                          "dpi": [
                            144,
                            144
                          ]
                        },
                        "is_image": true,
                        "is_ready": true,
                        "mime_type": "application/octet-stream",
                        "original_file_url": "https://ucarecdn.com/3c269810-c17b-4e2c-92b6-25622464d866/papaya.jpg",
                        "original_filename": "papaya.jpg",
                        "size": 642,
                        "url": "https://api.uploadcare.com/files/3c269810-c17b-4e2c-92b6-25622464d866/",
                        "uuid": "3c269810-c17b-4e2c-92b6-25622464d866",
                        "variations": null,
                        "video_info": null,
                        "source": null,
                        "rekognition_info": {
                          "Art": 0.60401,
                          "Home Decor": 0.719,
                          "Ornament": 0.60401,
                          "Shutter": 0.719,
                          "Arabesque Pattern": 0.60401,
                          "Window": 0.719,
                          "Curtain": 0.719,
                          "Brick": 0.75331,
                          "Window Shade": 0.719,
                          "Balcony": 0.70572
                        }
                      },
                      {
                        "datetime_removed": null,
                        "datetime_stored": "2018-11-26T12:49:10.477888Z",
                        "datetime_uploaded": "2018-11-26T12:49:09.945335Z",
                        "image_info": {
                          "color_mode": "RGB",
                          "orientation": null,
                          "format": "JPEG",
                          "sequence": false,
                          "height": 500,
                          "width": 500,
                          "geo_location": null,
                          "datetime_original": null,
                          "dpi": [
                            144,
                            144
                          ]
                        },
                        "is_image": true,
                        "is_ready": true,
                        "mime_type": "application/octet-stream",
                        "original_file_url": "https://ucarecdn.com/3c269810-c17b-4e2c-92b6-25622464d866/papaya.jpg",
                        "original_filename": "papaya.jpg",
                        "size": 642,
                        "url": "https://api.uploadcare.com/files/3c269810-c17b-4e2c-92b6-25622464d866/",
                        "uuid": "3c269810-c17b-4e2c-92b6-25622464d866",
                        "variations": null,
                        "video_info": null,
                        "source": null,
                        "rekognition_info": {
                          "Art": 0.60401,
                          "Home Decor": 0.719,
                          "Ornament": 0.60401,
                          "Shutter": 0.719,
                          "Arabesque Pattern": 0.60401,
                          "Window": 0.719,
                          "Curtain": 0.719,
                          "Brick": 0.75331,
                          "Window Shade": 0.719,
                          "Balcony": 0.70572
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.",
                      "default": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization errors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "enum": [
                        "Incorrect authentication credentials.",
                        "Public key {public_key} not found.",
                        "Secret key not found.",
                        "Invalid signature. Please check your secret key."
                      ],
                      "example": "Incorrect authentication credentials."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid version header `Accept` for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Could not satisfy the request Accept header.",
                      "default": "Could not satisfy the request Accept header."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "headers": {
              "Retry-After": {
                "description": "The number of seconds to wait before next request.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Request was throttled. Expected available in 10 second."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/files/{uuid}/storage/": {
      "put": {
        "summary": "Store file",
        "description": "Store a single file by UUID.",
        "tags": [
          "File"
        ],
        "operationId": "storeFile",
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "description": "Version header.",
              "example": "application/vnd.uploadcare-v0.6+json"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "uuid",
            "description": "File UUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "21975c81-7f57-4c7a-aef9-acfe28779f78"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File stored. File info in JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "datetime_removed": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Date and time when a file was removed, if any."
                    },
                    "datetime_stored": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Date and time of the last store request, if any."
                    },
                    "datetime_uploaded": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when a file was uploaded."
                    },
                    "image_info": {
                      "type": "object",
                      "description": "Image metadata.",
                      "nullable": true,
                      "properties": {
                        "color_mode": {
                          "type": "string",
                          "description": "Image color mode.",
                          "enum": [
                            "RGB",
                            "RGBA",
                            "RGBa",
                            "RGBX",
                            "L",
                            "LA",
                            "La",
                            "P",
                            "PA",
                            "CMYK",
                            "YCbCr",
                            "HSV",
                            "LAB"
                          ],
                          "example": "RGBA"
                        },
                        "orientation": {
                          "nullable": true,
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 8,
                          "description": "Image orientation from EXIF.",
                          "example": 6
                        },
                        "format": {
                          "type": "string",
                          "description": "Image format.",
                          "example": "JPEG"
                        },
                        "sequence": {
                          "type": "boolean",
                          "default": "Is image if sequence image(GIF for example).",
                          "example": false
                        },
                        "height": {
                          "type": "integer",
                          "description": "Image height in pixels.",
                          "example": 2352
                        },
                        "width": {
                          "type": "integer",
                          "description": "Image width in pixels.",
                          "example": 2935
                        },
                        "geo_location": {
                          "description": "Geo-location of image from EXIF.",
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "latitude": {
                              "type": "float",
                              "description": "Location latitude.",
                              "example": -1.1884555555555556
                            },
                            "longitude": {
                              "type": "float",
                              "description": "Location longitude.",
                              "example": 52.66996666666667
                            }
                          }
                        },
                        "datetime_original": {
                          "nullable": true,
                          "type": "string",
                          "description": "Image date and time from EXIF.",
                          "format": "date-time",
                          "example": "2018-09-13T16:23:40.000Z"
                        },
                        "dpi": {
                          "nullable": true,
                          "type": "array",
                          "description": "Image DPI for two dimensions.",
                          "items": {
                            "type": "float",
                            "example": 72
                          },
                          "example": [
                            72,
                            72
                          ]
                        }
                      }
                    },
                    "is_image": {
                      "type": "boolean",
                      "description": "Is file is image.",
                      "example": true
                    },
                    "is_ready": {
                      "type": "boolean",
                      "description": "Is file is ready to be used after upload.",
                      "example": true
                    },
                    "mime_type": {
                      "type": "string",
                      "description": "File MIME-type.",
                      "example": "image/jpeg"
                    },
                    "original_file_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Publicly available file CDN URL. Available if a file is not deleted.",
                      "nullable": true
                    },
                    "original_filename": {
                      "type": "string",
                      "description": "Original file name taken from uploaded file.",
                      "example": "EU_4.jpg"
                    },
                    "size": {
                      "type": "integer",
                      "description": "File size in bytes.",
                      "example": 145212
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "API resource URL for a particular file."
                    },
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "File UUID.",
                      "example": "575ed4e8-f4e8-4c14-a58b-1527b6d9ee46"
                    },
                    "variations": {
                      "type": "object",
                      "nullable": true,
                      "description": "Dictionary of other files that has been created using this file as source. Used for video, document and etc. conversion."
                    },
                    "video_info": {
                      "nullable": true,
                      "type": "object",
                      "description": "Video metadata.",
                      "properties": {
                        "duration": {
                          "type": "number",
                          "description": "Video duration in milliseconds.",
                          "example": 261827
                        },
                        "format": {
                          "type": "string",
                          "description": "Video format (MP4 for example).",
                          "example": "mpeg4"
                        },
                        "bitrate": {
                          "type": "number",
                          "description": "Video bitrate.",
                          "example": 393
                        },
                        "audio": {
                          "type": "object",
                          "description": "Audio stream metadata.",
                          "nullable": true,
                          "properties": {
                            "bitrate": {
                              "nullable": true,
                              "type": "number",
                              "description": "Audio stream metadata.",
                              "example": 78
                            },
                            "codec": {
                              "nullable": true,
                              "type": "string",
                              "description": "Audio stream codec.",
                              "example": "aac"
                            },
                            "sample_rate": {
                              "nullable": true,
                              "type": "number",
                              "description": "Audio stream sample rate.",
                              "example": 44100
                            },
                            "channels": {
                              "nullable": true,
                              "type": "string",
                              "description": "Audio stream number of channels.",
                              "example": 2
                            }
                          }
                        },
                        "video": {
                          "type": "object",
                          "description": "Video stream metadata.",
                          "properties": {
                            "height": {
                              "type": "number",
                              "description": "Video stream image height.",
                              "example": 360
                            },
                            "width": {
                              "type": "number",
                              "description": "Video stream image width.",
                              "example": 640
                            },
                            "frame_rate": {
                              "type": "float",
                              "description": "Video stream frame rate.",
                              "example": 25
                            },
                            "bitrate": {
                              "type": "number",
                              "description": "Video stream bitrate.",
                              "example": 315
                            },
                            "codec": {
                              "type": "string",
                              "description": "Video stream codec.",
                              "example": "h264"
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "nullable": true,
                      "description": "File upload source. This field contains information about from where file was uploaded, for example: facebook, gdrive, gphotos, etc."
                    },
                    "rekognition_info": {
                      "type": "object",
                      "nullable": true,
                      "description": "Dictionary of file categories with it\"s confidence.",
                      "additionalProperties": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      }
                    }
                  },
                  "example": {
                    "datetime_removed": null,
                    "datetime_stored": "2018-11-26T12:49:10.477888Z",
                    "datetime_uploaded": "2018-11-26T12:49:09.945335Z",
                    "image_info": {
                      "color_mode": "RGB",
                      "orientation": null,
                      "format": "JPEG",
                      "sequence": false,
                      "height": 500,
                      "width": 500,
                      "geo_location": null,
                      "datetime_original": null,
                      "dpi": [
                        144,
                        144
                      ]
                    },
                    "is_image": true,
                    "is_ready": true,
                    "mime_type": "application/octet-stream",
                    "original_file_url": "https://ucarecdn.com/3c269810-c17b-4e2c-92b6-25622464d866/papaya.jpg",
                    "original_filename": "papaya.jpg",
                    "size": 642,
                    "url": "https://api.uploadcare.com/files/3c269810-c17b-4e2c-92b6-25622464d866/",
                    "uuid": "3c269810-c17b-4e2c-92b6-25622464d866",
                    "variations": null,
                    "video_info": null,
                    "source": null,
                    "rekognition_info": {
                      "Art": 0.60401,
                      "Home Decor": 0.719,
                      "Ornament": 0.60401,
                      "Shutter": 0.719,
                      "Arabesque Pattern": 0.60401,
                      "Window": 0.719,
                      "Curtain": 0.719,
                      "Brick": 0.75331,
                      "Window Shade": 0.719,
                      "Balcony": 0.70572
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.",
                      "default": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization errors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "enum": [
                        "Incorrect authentication credentials.",
                        "Public key {public_key} not found.",
                        "Secret key not found.",
                        "Invalid signature. Please check your secret key."
                      ],
                      "example": "Incorrect authentication credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "File not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Not found.",
                      "example": "Not found."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid version header `Accept` for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Could not satisfy the request Accept header.",
                      "default": "Could not satisfy the request Accept header."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "headers": {
              "Retry-After": {
                "description": "The number of seconds to wait before next request.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Request was throttled. Expected available in 10 second."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete file",
        "tags": [
          "File"
        ],
        "description": "Remove individual files. Redirects to `/files/<uuid>/`.",
        "operationId": "deleteFileStorage",
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "description": "Version header.",
              "example": "application/vnd.uploadcare-v0.6+json"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "uuid",
            "description": "File UUID.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "21975c81-7f57-4c7a-aef9-acfe28779f78"
            },
            "required": true
          }
        ],
        "responses": {
          "302": {
            "description": "File deleted. Response is a redirect to `/files/<uuid>/`."
          },
          "400": {
            "description": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.",
                      "default": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization errors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "enum": [
                        "Incorrect authentication credentials.",
                        "Public key {public_key} not found.",
                        "Secret key not found.",
                        "Invalid signature. Please check your secret key."
                      ],
                      "example": "Incorrect authentication credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "File not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Not found.",
                      "example": "Not found."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid version header `Accept` for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Could not satisfy the request Accept header.",
                      "default": "Could not satisfy the request Accept header."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "headers": {
              "Retry-After": {
                "description": "The number of seconds to wait before next request.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Request was throttled. Expected available in 10 second."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/files/{uuid}/": {
      "delete": {
        "summary": "Delete file (alternative)",
        "tags": [
          "File"
        ],
        "description": "Remove individual files. Returns file info.",
        "operationId": "deleteFile",
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "description": "Version header.",
              "example": "application/vnd.uploadcare-v0.6+json"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "uuid",
            "description": "File UUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "03ccf9ab-f266-43fb-973d-a6529c55c2ae"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File info in JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "datetime_removed": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Date and time when a file was removed, if any."
                    },
                    "datetime_stored": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Date and time of the last store request, if any."
                    },
                    "datetime_uploaded": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when a file was uploaded."
                    },
                    "image_info": {
                      "type": "object",
                      "description": "Image metadata.",
                      "nullable": true,
                      "properties": {
                        "color_mode": {
                          "type": "string",
                          "description": "Image color mode.",
                          "enum": [
                            "RGB",
                            "RGBA",
                            "RGBa",
                            "RGBX",
                            "L",
                            "LA",
                            "La",
                            "P",
                            "PA",
                            "CMYK",
                            "YCbCr",
                            "HSV",
                            "LAB"
                          ],
                          "example": "RGBA"
                        },
                        "orientation": {
                          "nullable": true,
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 8,
                          "description": "Image orientation from EXIF.",
                          "example": 6
                        },
                        "format": {
                          "type": "string",
                          "description": "Image format.",
                          "example": "JPEG"
                        },
                        "sequence": {
                          "type": "boolean",
                          "default": "Is image if sequence image(GIF for example).",
                          "example": false
                        },
                        "height": {
                          "type": "integer",
                          "description": "Image height in pixels.",
                          "example": 2352
                        },
                        "width": {
                          "type": "integer",
                          "description": "Image width in pixels.",
                          "example": 2935
                        },
                        "geo_location": {
                          "description": "Geo-location of image from EXIF.",
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "latitude": {
                              "type": "float",
                              "description": "Location latitude.",
                              "example": -1.1884555555555556
                            },
                            "longitude": {
                              "type": "float",
                              "description": "Location longitude.",
                              "example": 52.66996666666667
                            }
                          }
                        },
                        "datetime_original": {
                          "nullable": true,
                          "type": "string",
                          "description": "Image date and time from EXIF.",
                          "format": "date-time",
                          "example": "2018-09-13T16:23:40.000Z"
                        },
                        "dpi": {
                          "nullable": true,
                          "type": "array",
                          "description": "Image DPI for two dimensions.",
                          "items": {
                            "type": "float",
                            "example": 72
                          },
                          "example": [
                            72,
                            72
                          ]
                        }
                      }
                    },
                    "is_image": {
                      "type": "boolean",
                      "description": "Is file is image.",
                      "example": true
                    },
                    "is_ready": {
                      "type": "boolean",
                      "description": "Is file is ready to be used after upload.",
                      "example": true
                    },
                    "mime_type": {
                      "type": "string",
                      "description": "File MIME-type.",
                      "example": "image/jpeg"
                    },
                    "original_file_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Publicly available file CDN URL. Available if a file is not deleted.",
                      "nullable": true
                    },
                    "original_filename": {
                      "type": "string",
                      "description": "Original file name taken from uploaded file.",
                      "example": "EU_4.jpg"
                    },
                    "size": {
                      "type": "integer",
                      "description": "File size in bytes.",
                      "example": 145212
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "API resource URL for a particular file."
                    },
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "File UUID.",
                      "example": "575ed4e8-f4e8-4c14-a58b-1527b6d9ee46"
                    },
                    "variations": {
                      "type": "object",
                      "nullable": true,
                      "description": "Dictionary of other files that has been created using this file as source. Used for video, document and etc. conversion."
                    },
                    "video_info": {
                      "nullable": true,
                      "type": "object",
                      "description": "Video metadata.",
                      "properties": {
                        "duration": {
                          "type": "number",
                          "description": "Video duration in milliseconds.",
                          "example": 261827
                        },
                        "format": {
                          "type": "string",
                          "description": "Video format (MP4 for example).",
                          "example": "mpeg4"
                        },
                        "bitrate": {
                          "type": "number",
                          "description": "Video bitrate.",
                          "example": 393
                        },
                        "audio": {
                          "type": "object",
                          "description": "Audio stream metadata.",
                          "nullable": true,
                          "properties": {
                            "bitrate": {
                              "nullable": true,
                              "type": "number",
                              "description": "Audio stream metadata.",
                              "example": 78
                            },
                            "codec": {
                              "nullable": true,
                              "type": "string",
                              "description": "Audio stream codec.",
                              "example": "aac"
                            },
                            "sample_rate": {
                              "nullable": true,
                              "type": "number",
                              "description": "Audio stream sample rate.",
                              "example": 44100
                            },
                            "channels": {
                              "nullable": true,
                              "type": "string",
                              "description": "Audio stream number of channels.",
                              "example": 2
                            }
                          }
                        },
                        "video": {
                          "type": "object",
                          "description": "Video stream metadata.",
                          "properties": {
                            "height": {
                              "type": "number",
                              "description": "Video stream image height.",
                              "example": 360
                            },
                            "width": {
                              "type": "number",
                              "description": "Video stream image width.",
                              "example": 640
                            },
                            "frame_rate": {
                              "type": "float",
                              "description": "Video stream frame rate.",
                              "example": 25
                            },
                            "bitrate": {
                              "type": "number",
                              "description": "Video stream bitrate.",
                              "example": 315
                            },
                            "codec": {
                              "type": "string",
                              "description": "Video stream codec.",
                              "example": "h264"
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "nullable": true,
                      "description": "File upload source. This field contains information about from where file was uploaded, for example: facebook, gdrive, gphotos, etc."
                    },
                    "rekognition_info": {
                      "type": "object",
                      "nullable": true,
                      "description": "Dictionary of file categories with it\"s confidence.",
                      "additionalProperties": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      }
                    }
                  },
                  "example": {
                    "datetime_removed": null,
                    "datetime_stored": "2018-11-26T12:49:10.477888Z",
                    "datetime_uploaded": "2018-11-26T12:49:09.945335Z",
                    "image_info": {
                      "color_mode": "RGB",
                      "orientation": null,
                      "format": "JPEG",
                      "sequence": false,
                      "height": 500,
                      "width": 500,
                      "geo_location": null,
                      "datetime_original": null,
                      "dpi": [
                        144,
                        144
                      ]
                    },
                    "is_image": true,
                    "is_ready": true,
                    "mime_type": "application/octet-stream",
                    "original_file_url": "https://ucarecdn.com/3c269810-c17b-4e2c-92b6-25622464d866/papaya.jpg",
                    "original_filename": "papaya.jpg",
                    "size": 642,
                    "url": "https://api.uploadcare.com/files/3c269810-c17b-4e2c-92b6-25622464d866/",
                    "uuid": "3c269810-c17b-4e2c-92b6-25622464d866",
                    "variations": null,
                    "video_info": null,
                    "source": null,
                    "rekognition_info": {
                      "Art": 0.60401,
                      "Home Decor": 0.719,
                      "Ornament": 0.60401,
                      "Shutter": 0.719,
                      "Arabesque Pattern": 0.60401,
                      "Window": 0.719,
                      "Curtain": 0.719,
                      "Brick": 0.75331,
                      "Window Shade": 0.719,
                      "Balcony": 0.70572
                    }
                  }
                },
                "example": {
                  "datetime_removed": "2018-11-26T12:49:11.477888Z",
                  "datetime_stored": null,
                  "datetime_uploaded": "2018-11-26T12:49:09.945335Z",
                  "image_info": {
                    "color_mode": "RGB",
                    "orientation": null,
                    "format": "JPEG",
                    "sequence": false,
                    "height": 500,
                    "width": 500,
                    "geo_location": null,
                    "datetime_original": null,
                    "dpi": [
                      144,
                      144
                    ]
                  },
                  "is_image": true,
                  "is_ready": true,
                  "mime_type": "application/octet-stream",
                  "original_file_url": "https://ucarecdn.com/3c269810-c17b-4e2c-92b6-25622464d866/papaya.jpg",
                  "original_filename": "papaya.jpg",
                  "size": 642,
                  "url": "https://api.uploadcare.com/files/3c269810-c17b-4e2c-92b6-25622464d866/",
                  "uuid": "3c269810-c17b-4e2c-92b6-25622464d866",
                  "variations": null,
                  "video_info": null,
                  "source": null,
                  "rekognition_info": {
                    "Art": 0.60401,
                    "Home Decor": 0.719,
                    "Ornament": 0.60401,
                    "Shutter": 0.719,
                    "Arabesque Pattern": 0.60401,
                    "Window": 0.719,
                    "Curtain": 0.719,
                    "Brick": 0.75331,
                    "Window Shade": 0.719,
                    "Balcony": 0.70572
                  }
                }
              }
            }
          },
          "400": {
            "description": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.",
                      "default": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization errors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "enum": [
                        "Incorrect authentication credentials.",
                        "Public key {public_key} not found.",
                        "Secret key not found.",
                        "Invalid signature. Please check your secret key."
                      ],
                      "example": "Incorrect authentication credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "File not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Not found.",
                      "example": "Not found."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid version header `Accept` for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Could not satisfy the request Accept header.",
                      "default": "Could not satisfy the request Accept header."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "headers": {
              "Retry-After": {
                "description": "The number of seconds to wait before next request.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Request was throttled. Expected available in 10 second."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "File info",
        "tags": [
          "File"
        ],
        "description": "Once you obtain a list of files, you might want to acquire some file-specific info.",
        "operationId": "fileInfo",
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "description": "Version header.",
              "example": "application/vnd.uploadcare-v0.6+json"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "uuid",
            "description": "File UUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "03ccf9ab-f266-43fb-973d-a6529c55c2ae"
            }
          },
          {
            "in": "query",
            "name": "add_fields",
            "description": "Add special fields to the file object, such as: rekognition_info.",
            "schema": {
              "type": "string"
            },
            "example": "rekognition_info"
          }
        ],
        "responses": {
          "200": {
            "description": "File info in JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "datetime_removed": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Date and time when a file was removed, if any."
                    },
                    "datetime_stored": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Date and time of the last store request, if any."
                    },
                    "datetime_uploaded": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time when a file was uploaded."
                    },
                    "image_info": {
                      "type": "object",
                      "description": "Image metadata.",
                      "nullable": true,
                      "properties": {
                        "color_mode": {
                          "type": "string",
                          "description": "Image color mode.",
                          "enum": [
                            "RGB",
                            "RGBA",
                            "RGBa",
                            "RGBX",
                            "L",
                            "LA",
                            "La",
                            "P",
                            "PA",
                            "CMYK",
                            "YCbCr",
                            "HSV",
                            "LAB"
                          ],
                          "example": "RGBA"
                        },
                        "orientation": {
                          "nullable": true,
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 8,
                          "description": "Image orientation from EXIF.",
                          "example": 6
                        },
                        "format": {
                          "type": "string",
                          "description": "Image format.",
                          "example": "JPEG"
                        },
                        "sequence": {
                          "type": "boolean",
                          "default": "Is image if sequence image(GIF for example).",
                          "example": false
                        },
                        "height": {
                          "type": "integer",
                          "description": "Image height in pixels.",
                          "example": 2352
                        },
                        "width": {
                          "type": "integer",
                          "description": "Image width in pixels.",
                          "example": 2935
                        },
                        "geo_location": {
                          "description": "Geo-location of image from EXIF.",
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "latitude": {
                              "type": "float",
                              "description": "Location latitude.",
                              "example": -1.1884555555555556
                            },
                            "longitude": {
                              "type": "float",
                              "description": "Location longitude.",
                              "example": 52.66996666666667
                            }
                          }
                        },
                        "datetime_original": {
                          "nullable": true,
                          "type": "string",
                          "description": "Image date and time from EXIF.",
                          "format": "date-time",
                          "example": "2018-09-13T16:23:40.000Z"
                        },
                        "dpi": {
                          "nullable": true,
                          "type": "array",
                          "description": "Image DPI for two dimensions.",
                          "items": {
                            "type": "float",
                            "example": 72
                          },
                          "example": [
                            72,
                            72
                          ]
                        }
                      }
                    },
                    "is_image": {
                      "type": "boolean",
                      "description": "Is file is image.",
                      "example": true
                    },
                    "is_ready": {
                      "type": "boolean",
                      "description": "Is file is ready to be used after upload.",
                      "example": true
                    },
                    "mime_type": {
                      "type": "string",
                      "description": "File MIME-type.",
                      "example": "image/jpeg"
                    },
                    "original_file_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Publicly available file CDN URL. Available if a file is not deleted.",
                      "nullable": true
                    },
                    "original_filename": {
                      "type": "string",
                      "description": "Original file name taken from uploaded file.",
                      "example": "EU_4.jpg"
                    },
                    "size": {
                      "type": "integer",
                      "description": "File size in bytes.",
                      "example": 145212
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "API resource URL for a particular file."
                    },
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "File UUID.",
                      "example": "575ed4e8-f4e8-4c14-a58b-1527b6d9ee46"
                    },
                    "variations": {
                      "type": "object",
                      "nullable": true,
                      "description": "Dictionary of other files that has been created using this file as source. Used for video, document and etc. conversion."
                    },
                    "video_info": {
                      "nullable": true,
                      "type": "object",
                      "description": "Video metadata.",
                      "properties": {
                        "duration": {
                          "type": "number",
                          "description": "Video duration in milliseconds.",
                          "example": 261827
                        },
                        "format": {
                          "type": "string",
                          "description": "Video format (MP4 for example).",
                          "example": "mpeg4"
                        },
                        "bitrate": {
                          "type": "number",
                          "description": "Video bitrate.",
                          "example": 393
                        },
                        "audio": {
                          "type": "object",
                          "description": "Audio stream metadata.",
                          "nullable": true,
                          "properties": {
                            "bitrate": {
                              "nullable": true,
                              "type": "number",
                              "description": "Audio stream metadata.",
                              "example": 78
                            },
                            "codec": {
                              "nullable": true,
                              "type": "string",
                              "description": "Audio stream codec.",
                              "example": "aac"
                            },
                            "sample_rate": {
                              "nullable": true,
                              "type": "number",
                              "description": "Audio stream sample rate.",
                              "example": 44100
                            },
                            "channels": {
                              "nullable": true,
                              "type": "string",
                              "description": "Audio stream number of channels.",
                              "example": 2
                            }
                          }
                        },
                        "video": {
                          "type": "object",
                          "description": "Video stream metadata.",
                          "properties": {
                            "height": {
                              "type": "number",
                              "description": "Video stream image height.",
                              "example": 360
                            },
                            "width": {
                              "type": "number",
                              "description": "Video stream image width.",
                              "example": 640
                            },
                            "frame_rate": {
                              "type": "float",
                              "description": "Video stream frame rate.",
                              "example": 25
                            },
                            "bitrate": {
                              "type": "number",
                              "description": "Video stream bitrate.",
                              "example": 315
                            },
                            "codec": {
                              "type": "string",
                              "description": "Video stream codec.",
                              "example": "h264"
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "nullable": true,
                      "description": "File upload source. This field contains information about from where file was uploaded, for example: facebook, gdrive, gphotos, etc."
                    },
                    "rekognition_info": {
                      "type": "object",
                      "nullable": true,
                      "description": "Dictionary of file categories with it\"s confidence.",
                      "additionalProperties": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      }
                    }
                  },
                  "example": {
                    "datetime_removed": null,
                    "datetime_stored": "2018-11-26T12:49:10.477888Z",
                    "datetime_uploaded": "2018-11-26T12:49:09.945335Z",
                    "image_info": {
                      "color_mode": "RGB",
                      "orientation": null,
                      "format": "JPEG",
                      "sequence": false,
                      "height": 500,
                      "width": 500,
                      "geo_location": null,
                      "datetime_original": null,
                      "dpi": [
                        144,
                        144
                      ]
                    },
                    "is_image": true,
                    "is_ready": true,
                    "mime_type": "application/octet-stream",
                    "original_file_url": "https://ucarecdn.com/3c269810-c17b-4e2c-92b6-25622464d866/papaya.jpg",
                    "original_filename": "papaya.jpg",
                    "size": 642,
                    "url": "https://api.uploadcare.com/files/3c269810-c17b-4e2c-92b6-25622464d866/",
                    "uuid": "3c269810-c17b-4e2c-92b6-25622464d866",
                    "variations": null,
                    "video_info": null,
                    "source": null,
                    "rekognition_info": {
                      "Art": 0.60401,
                      "Home Decor": 0.719,
                      "Ornament": 0.60401,
                      "Shutter": 0.719,
                      "Arabesque Pattern": 0.60401,
                      "Window": 0.719,
                      "Curtain": 0.719,
                      "Brick": 0.75331,
                      "Window Shade": 0.719,
                      "Balcony": 0.70572
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.",
                      "default": "Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization errors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "enum": [
                        "Incorrect authentication credentials.",
                        "Public key {public_key} not found.",
                        "Secret key not found.",
                        "Invalid signature. Please check your secret key."
                      ],
                      "example": "Incorrect authentication credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "File not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Not found.",
                      "example": "Not found."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid version header `Accept` for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Could not satisfy the request Accept header.",
                      "default": "Could not satisfy the request Accept header."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "headers": {
              "Retry-After": {
                "description": "The number of seconds to wait before next request.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Request was throttled. Expected available in 10 second."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/files/storage/": {
      "put": {
        "summary": "Batch file storing",
        "description": "Used to store multiple files in one go. Up to 100 files are supported per request. A JSON object holding your File list SHOULD be put into a request body.",
        "operationId": "filesStoring",
        "tags": [
          "File"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "description": "Version header.",
              "example": "application/vnd.uploadcare-v0.6+json"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid",
                  "description": "List of files UUIDs to store."
                },
                "example": [
                  "21975c81-7f57-4c7a-aef9-acfe28779f78",
                  "cbaf2d73-5169-4b2b-a543-496cf2813dff"
                ]
              },
              "example": [
                "21975c81-7f57-4c7a-aef9-acfe28779f78",
                "cbaf2d73-5169-4b2b-a543-496cf2813dff"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK. See `problems` and `result` fields in the response. In case file list provided in a request holds invalid UUIDs, they will be included in the problems structure. Invalid UUIDs can be incomplete, associated with files that no longer exist, etc.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "problems": {
                      "type": "object",
                      "description": "Dictionary of passed files UUIDs and problems associated with these UUIDs.",
                      "example": {
                        "21975c81-7f57-4c7a-aef9-acfe28779f78": "Missing in the project",
                        "4j334o01-8bs3": "Invalid"
                      }
                    },
                    "result": {
                      "description": "List of file objects that has been deleted.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datetime_removed": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Date and time when a file was removed, if any."
                          },
                          "datetime_stored": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Date and time of the last store request, if any."
                          },
                          "datetime_uploaded": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time when a file was uploaded."
                          },
                          "image_info": {
                            "type": "object",
                            "description": "Image metadata.",
                            "nullable": true,
                            "properties": {
                              "color_mode": {
                                "type": "string",
                                "description": "Image color mode.",
                                "enum": [
                                  "RGB",
                                  "RGBA",
                                  "RGBa",
                                  "RGBX",
                                  "L",
                                  "LA",
                                  "La",
                                  "P",
                                  "PA",
                                  "CMYK",
                                  "YCbCr",
                                  "HSV",
                                  "LAB"
                                ],
                                "example": "RGBA"
                              },
                              "orientation": {
                                "nullable": true,
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 8,
                                "description": "Image orientation from EXIF.",
                                "example": 6
                              },
                              "format": {
                                "type": "string",
                                "description": "Image format.",
                                "example": "JPEG"
                              },
                              "sequence": {
                                "type": "boolean",
                                "default": "Is image if sequence image(GIF for example).",
                                "example": false
                              },
                              "height": {
                                "type": "integer",
                                "description": "Image height in pixels.",
                                "example": 2352
                              },
                              "width": {
                                "type": "integer",
                                "description": "Image width in pixels.",
                                "example": 2935
                              },
                              "geo_location": {
                                "description": "Geo-location of image from EXIF.",
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "latitude": {
                                    "type": "float",
                                    "description": "Location latitude.",
                                    "example": -1.1884555555555556
                                  },
                                  "longitude": {
                                    "type": "float",
                                    "description": "Location longitude.",
                                    "example": 52.66996666666667
                                  }
                                }
                              },
                              "datetime_original": {
                                "nullable": true,
                                "type": "string",
                                "description": "Image date and time from EXIF.",
                                "format": "date-time",
                                "example": "2018-09-13T16:23:40.000Z"
                              },
                              "dpi": {
                                "nullable": true,
                                "type": "array",
                                "description": "Image DPI for two dimensions.",
                                "items": {
                                  "type": "float",
                                  "example": 72
                                },
                                "example": [
                                  72,
                                  72
                                ]
                              }
                            }
                          },
                          "is_image": {
                            "type": "boolean",
                            "description": "Is file is image.",
                            "example": true
                          },
                          "is_ready": {
                            "type": "boolean",
                            "description": "Is file is ready to be used after upload.",
                            "example": true
                          },
                          "mime_type": {
                            "type": "string",
                            "description": "File MIME-type.",
                            "example": "image/jpeg"
                          },
                          "original_file_url": {
                            "type": "string",
                            "format": "uri",
                            "description": "Publicly available file CDN URL. Available if a file is not deleted.",
                            "nullable": true
                          },
                          "original_filename": {
                            "type": "string",
                            "description": "Original file name taken from uploaded file.",
                            "example": "EU_4.jpg"
                          },
                          "size": {
                            "type": "integer",
                            "description": "File size in bytes.",
                            "example": 145212
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "API resource URL for a particular file."
                          },
                          "uuid": {
                            "type": "string",
                            "format": "uuid",
                            "description": "File UUID.",
                            "example": "575ed4e8-f4e8-4c14-a58b-1527b6d9ee46"
                          },
                          "variations": {
                            "type": "object",
                            "nullable": true,
                            "description": "Dictionary of other files that has been created using this file as source. Used for video, document and etc. conversion."
                          },
                          "video_info": {
                            "nullable": true,
                            "type": "object",
                            "description": "Video metadata.",
                            "properties": {
                              "duration": {
                                "type": "number",
                                "description": "Video duration in milliseconds.",
                                "example": 261827
                              },
                              "format": {
                                "type": "string",
                                "description": "Video format (MP4 for example).",
                                "example": "mpeg4"
                              },
                              "bitrate": {
                                "type": "number",
                                "description": "Video bitrate.",
                                "example": 393
                              },
                              "audio": {
[...]
